/*
0 - 600px: mobile
600 - 900px: tablet portrait
900 - 1200: tablet landscape
1200 - 1800: default style
1800px+: large screens

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop


ORDER : base + typography > general layout + grid > page layout > components

note that 1em is 16px*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom-1 {
  0% {
    opacity: 1;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideIn {
  0% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }

@keyframes slideOut {
  0% {
    opacity: 0;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 100%, 0); } }

@keyframes typingAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: Inter;
  scroll-behavior: smooth; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  user-select: none;
  background-color: #f1f1f1;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 1.5rem;
  /* Width of the scrollbar */
  display: none; }

body {
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.82rem; }

.header {
  /* clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); */ }
  .header__navbar {
    background-color: #1A1A1A;
    height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.6rem; }
    .header__navbar__logo {
      height: 2.5rem;
      cursor: pointer; }
      @media (max-width: 37.5em) {
        .header__navbar__logo {
          height: 3.2rem;
          width: 3.2rem;
          margin-top: .5rem; } }
      @media (min-width: 112.5em) {
        .header__navbar__logo {
          height: 3.2rem;
          width: 3.2rem;
          margin-top: .5rem; } }

.slideIn {
  animation-name: slideInAnimation; }

.slideOut {
  animation-name: slideOutAnimation; }

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: all ease-in 200ms; }

[role="menuitem"] {
  transition: all ease-in 200ms; }

.btn:link, .btn:visited {
  text-transform: none;
  text-decoration: none;
  border-radius: 1rem;
  transition: all .2s;
  position: relative;
  font-family: Inter; }

@media (max-width: 37.5em) {
  .btn {
    font-size: 1.2rem !important; } }

@media (min-width: 112.5em) {
  .btn {
    font-size: 1.2rem !important; } }

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2); }

.btn--custom:link, .btn--custom:visited {
  text-decoration: none;
  display: flex;
  background: #404040;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Inter;
  border-radius: .6rem;
  height: 2.8rem;
  width: 12.7rem;
  align-items: center;
  justify-content: center;
  padding: .6rem 1.2rem;
  border-top: 1.5px solid #E1E1E1, rgba(255, 255, 255, 0.2);
  border-right: 1.5px solid #E1E1E1, rgba(255, 255, 255, 0.2);
  border-left: 1.5px solid #E1E1E1, rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
  animation: moveInBottom 500ms forwards; }

.btn--custom:hover {
  background: #2A2A2A; }

.btn--custom:active {
  background: #2B2B2B;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 0px #000 inset; }

.btn--custom:focus {
  background: #404040;
  outline: .3rem solid #005BD3;
  outline-offset: .3rem; }

.btn--custom1:link, .btn--custom1:visited {
  text-decoration: none;
  display: flex;
  color: #404040;
  /* margin: 4px; */
  border-radius: .6rem;
  align-items: center;
  justify-content: center;
  padding: .6rem 1.2rem;
  margin-left: .8rem;
  font-size: 1.2rem;
  font-weight: 600;
  animation: moveInBottom 500ms forwards; }

.btn--custom1:hover {
  background: #E7E7E7;
  outline: .15rem solid #2B2B2B;
  box-shadow: none;
  transition: all 100ms ease-in-out; }

.btn--custom1:active {
  background: #E0E0E0; }

.btn--custom1:focus {
  background: #FFF;
  outline: .3rem solid #005BD3; }

.btn--white:link, .btn--white:visited {
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600;
  height: 2.8rem;
  width: 9.9rem;
  justify-content: center;
  display: flex;
  padding: .6rem 1.2rem;
  align-items: center;
  margin-right: .8rem;
  border-radius: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  box-shadow: 0px -1px 0px 0px #B5B5B5 inset; }
  @media (max-width: 37.5em) {
    .btn--white:link, .btn--white:visited {
      margin: 0;
      height: 3.5rem;
      width: 11rem; } }
  @media (min-width: 112.5em) {
    .btn--white:link, .btn--white:visited {
      margin: 0;
      height: 3.5rem;
      width: 11rem; } }

.btn--white:hover {
  background: #F7F7F7; }

.btn--white:active {
  background: #F7F7F7;
  box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset; }

.btn--white:focus {
  background: #fff;
  outline: .2rem solid #005BD3;
  outline-offset: .2rem; }

.popup {
  height: auto;
  position: fixed;
  top: 1rem;
  right: 2rem;
  background: #fff;
  z-index: 9999;
  transition: all .3s;
  position: absolute;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--stroke-s-50, #DBDBDB);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  width: 32rem;
  padding: 6px 0px; }
  @media (max-width: 37.5em) {
    .popup {
      width: 85%; } }
  @media (min-width: 112.5em) {
    .popup {
      width: 85%; } }

.popup2 {
  height: auto;
  width: 38.3rem;
  position: fixed;
  top: 1rem;
  right: 2rem;
  background-color: #fff;
  z-index: 9999;
  transition: all .3s;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  align-items: flex-start;
  border-radius: 1.4rem;
  border: 1px solid #DBDBDB;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05); }
  @media (max-width: 37.5em) {
    .popup2 {
      width: 90%; } }
  @media (min-width: 112.5em) {
    .popup2 {
      width: 90%; } }

.hidden {
  display: none !important; }

.hidden2 {
  opacity: 0; }

.slide-right {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.slide-left {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.slide-up {
  animation-name: moveInBottom-1;
  animation-duration: .5s;
  animation-timing-function: ease-out; }

.preloader {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0; }
  .preloader__content {
    animation: pulse 1.5s infinite ease-out;
    width: 30rem;
    height: 30rem;
    z-index: 10300;
    background-size: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .preloader__content::after {
      content: "";
      position: absolute;
      top: 50%;
      /* Center vertically */
      left: 50%;
      /* Center horizontally */
      transform: translate(-50%, -50%);
      /* Center the circle */
      width: 52rem;
      /* Slightly bigger than the background image */
      height: 52rem;
      /* Slightly bigger than the background image */
      border-radius: 50%;
      /* Creates a circle */
      z-index: 10300;
      opacity: 0;
      background-color: #303030; }

.pre {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  /* Center the circle */
  width: 23rem;
  /* Slightly bigger than the background image */
  height: 23rem;
  /* Slightly bigger than the background image */
  border-radius: 50%;
  /* Creates a circle */
  z-index: 10000;
  opacity: 1;
  background-color: #000;
  animation: pulseafter 1.5s infinite ease; }

.pre-1 {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  /* Center the circle */
  width: 28rem;
  /* Slightly bigger than the background image */
  height: 28rem;
  /* Slightly bigger than the background image */
  border-radius: 50%;
  /* Creates a circle */
  z-index: 9000;
  opacity: 1;
  background-color: #fff;
  animation: pulse 1.5s infinite ease; }

.pre-2 {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  /* Center the circle */
  width: 30rem;
  /* Slightly bigger than the background image */
  height: 30rem;
  /* Slightly bigger than the background image */
  border-radius: 50%;
  /* Creates a circle */
  z-index: 8000;
  opacity: 1;
  background-color: #292929;
  animation: pulseafter 1.5s infinite ease; }

.preloader-img {
  width: 15rem;
  height: 15rem; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.08); }
  100% {
    transform: scale(1); } }

@keyframes pulseafter {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

.logo {
  margin-right: 17rem; }
  @media (max-width: 37.5em) {
    .logo {
      display: none; } }
  @media (min-width: 112.5em) {
    .logo {
      display: none; } }

.logo-mobile {
  display: none; }
  @media (max-width: 37.5em) {
    .logo-mobile {
      display: block; } }
  @media (min-width: 112.5em) {
    .logo-mobile {
      display: block; } }

.search-bar {
  display: flex;
  align-items: center;
  height: 3.2rem;
  width: 48rem;
  background-color: #303030;
  border: 1px #616161 solid;
  border-radius: 0.8rem;
  padding: .8rem;
  cursor: text;
  transition: all .2s; }
  .search-bar:hover {
    border: 1px #E1E1E1 solid; }
  .search-bar:active, .search-bar:focus {
    border: .2rem #fff solid; }
  @media (max-width: 37.5em) {
    .search-bar {
      width: 23.8rem; } }
  @media (min-width: 112.5em) {
    .search-bar {
      width: 23.8rem; } }

.search-bar:focus-within {
  border: 1.5px solid #ffF; }

.illustration {
  height: 12rem;
  animation: moveInLeft 500ms forwards; }
  @media (max-width: 37.5em) {
    .illustration {
      display: none; } }
  @media (min-width: 112.5em) {
    .illustration {
      display: none; } }

.info {
  width: auto;
  display: flex;
  align-items: center; }

.notification {
  display: flex;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #303030;
  border-radius: 0.8rem;
  padding: .8rem;
  margin-right: .8rem;
  justify-content: center;
  cursor: pointer; }
  .notification:hover {
    background-color: #616161; }
  .notification:active {
    background-color: #656266; }
  .notification:focus {
    outline: .2rem solid #005BD3;
    outline-offset: .2rem; }
  @media (max-width: 37.5em) {
    .notification {
      background-color: transparent; } }
  @media (min-width: 112.5em) {
    .notification {
      background-color: transparent; } }

.name-bar {
  display: flex;
  align-items: center;
  width: 14.2rem;
  height: 3.2rem;
  background-color: #303030;
  border-radius: 0.8rem;
  padding: 2px 2px 2px 8px;
  cursor: pointer;
  text-decoration: none; }
  .name-bar:hover {
    background-color: #616161; }
  .name-bar:active {
    background-color: #656266; }
  .name-bar:focus {
    outline: .2rem solid #005BD3;
    outline-offset: .2rem; }
  @media (max-width: 37.5em) {
    .name-bar {
      padding: 0;
      width: 3.2rem;
      height: 3.2rem; } }
  @media (min-width: 112.5em) {
    .name-bar {
      padding: 0;
      width: 3.2rem;
      height: 3.2rem; } }

.name-bar2 {
  background-color: #f1f1f1;
  border-radius: .8rem;
  display: flex;
  padding: .4rem 1.2rem .4rem .8rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .4rem; }

.plain-bar {
  background-color: #fff;
  height: 3.1rem;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  width: 30.4rem;
  padding: .6rem;
  border-radius: .8rem; }
  .plain-bar:hover {
    background-color: #f1f1f1; }
  .plain-bar:active {
    background: #f0f0f0; }
  .plain-bar:focus {
    border: 0.2rem solid #005BD3;
    outline: none; }
  @media (max-width: 37.5em) {
    .plain-bar {
      width: 100%; } }
  @media (min-width: 112.5em) {
    .plain-bar {
      width: 100%; } }

.noborder-rad {
  border-radius: 0%; }
  @media (max-width: 37.5em) {
    .noborder-rad {
      padding: 3rem 1rem;
      text-align: center; } }
  @media (min-width: 112.5em) {
    .noborder-rad {
      padding: 3rem 1rem;
      text-align: center; } }

.name-text {
  font-size: 1.3rem;
  color: #E3E3E3;
  font-weight: 500;
  font-family: Inter;
  margin-right: .8rem; }

.profile-name {
  font-size: 1.2rem;
  color: #E3E3E3;
  font-weight: 500;
  font-family: Inter;
  margin-right: .8rem; }

@media (max-width: 37.5em) {
  .full-id {
    display: none; } }

@media (min-width: 112.5em) {
  .full-id {
    display: none; } }

.name-plain {
  color: #323232;
  font-size: 1.3rem; }

.namePlain {
  color: #323232;
  font-size: 1.4rem;
  padding: .4rem 1rem;
  font-weight: 400;
  border-radius: .6rem;
  margin: 0 auto; }
  .namePlain:hover {
    background-color: #f1f1f1; }
  @media (max-width: 37.5em) {
    .namePlain {
      padding: 1rem 1rem; } }
  @media (min-width: 112.5em) {
    .namePlain {
      padding: 1rem 1rem; } }

.name-user {
  color: #323232;
  font-size: 1.3rem;
  font-weight: 500; }

.name-email {
  color: #323232;
  font-size: 1.2rem;
  font-weight: 400; }

.name-text2 {
  color: #323232;
  font-weight: 600;
  margin: 0 auto; }

.alerts {
  color: #323232;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: Inter; }

.initials {
  display: flex;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #36FBA1;
  border-radius: 0.6rem;
  padding: 9px 5px 10px 5px; }
  @media (max-width: 37.5em) {
    .initials {
      width: 3.2rem;
      height: 3.2rem; } }
  @media (min-width: 112.5em) {
    .initials {
      width: 3.2rem;
      height: 3.2rem; } }

.initials-dropdown {
  margin-right: .8rem; }

.initials-text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  font-family: Inter;
  font-weight: 500; }

.pop-box {
  border-bottom: 0.75px #E1E1E1 solid;
  display: flex;
  padding: 0rem .6rem;
  padding-bottom: .4rem;
  flex-direction: column; }

.pop-box1 {
  display: flex;
  padding: 0.4rem .6rem;
  flex-direction: column; }

.pop-box1 .plain-bar {
  margin-bottom: .4rem; }

.pop-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  width: 100%; }

.pop-message {
  display: flex;
  padding: 16px;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  background: #f1f1f1; }

.pop-message-text {
  font-size: 1.3rem;
  font-weight: 600; }

.smallIcon {
  width: 2rem;
  margin-right: .8rem; }

.search-container {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .6rem; }

.search {
  width: 1.3rem; }

.search-text {
  font-style: normal;
  font-weight: 500;
  line-height: 1.82rem;
  font-size: 1.3rem;
  color: #B5B5B5;
  font-weight: 500;
  font-family: Inter;
  border: none;
  outline: none;
  flex: 1;
  background-color: #303030; }
  @media (max-width: 37.5em) {
    .search-text {
      flex: auto;
      width: 17rem; } }
  @media (min-width: 112.5em) {
    .search-text {
      flex: auto;
      width: 17rem; } }

#searchInput::placeholder {
  color: #B5B5B5; }

.setup-heading {
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600; }

.setup-text {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: Inter;
  margin-bottom: 1.6rem; }
  @media (max-width: 37.5em) {
    .setup-text {
      font-size: 1.5rem; } }
  @media (min-width: 112.5em) {
    .setup-text {
      font-size: 1.5rem; } }

#A {
  display: flex;
  justify-content: center; }

.content {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem; }
  @media (max-width: 37.5em) {
    .content {
      width: 100%; } }
  @media (min-width: 112.5em) {
    .content {
      width: 100%; } }
  @media (max-width: 56.25em) {
    .content {
      width: 100%; } }

.content-pop {
  background-color: #1A1A1A;
  height: 5.6rem;
  border-radius: 0.8rem;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  padding: 1.2rem .8rem 1.2rem 1.6rem;
  justify-content: space-between;
  width: 80rem;
  opacity: 0;
  transform: translateY(-30%);
  animation: slideIn 1s forwards;
  animation-delay: .3s; }
  @media (max-width: 37.5em) {
    .content-pop {
      display: block;
      height: auto;
      position: relative;
      border-radius: 0%;
      padding: 12px 8px 12px 16px;
      width: 100%; } }
  @media (min-width: 112.5em) {
    .content-pop {
      display: block;
      height: auto;
      position: relative;
      border-radius: 0%;
      padding: 12px 8px 12px 16px;
      width: 100%; } }
  @media (max-width: 56.25em) {
    .content-pop {
      border-radius: 0%;
      padding: 12px 8px 12px 16px;
      width: 100%; } }

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0%); } }

.content-main {
  width: 80rem;
  padding: .8rem;
  border-radius: 1.8rem;
  border: 1px solid var(--stroke-s-50, #DBDBDB);
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  z-index: 500;
  height: auto;
  transition: height ease-in-out 2s; }
  @media (max-width: 37.5em) {
    .content-main {
      border-radius: 0%;
      width: 100%; } }
  @media (min-width: 112.5em) {
    .content-main {
      border-radius: 0%;
      width: 100%; } }
  @media (max-width: 56.25em) {
    .content-main {
      border-radius: 0%;
      width: 100%; } }

.content-box {
  display: flex;
  flex-direction: column;
  margin-left: .8rem;
  margin-right: 9.6rem; }

@media (max-width: 37.5em) {
  .trial {
    width: 33rem;
    height: auto;
    font-size: 1.3rem;
    margin-bottom: 1.6rem; } }

@media (min-width: 112.5em) {
  .trial {
    width: 33rem;
    height: auto;
    font-size: 1.3rem;
    margin-bottom: 1.6rem; } }

.close-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.6rem;
  border-radius: 0.6rem;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .close-cont {
      position: absolute;
      top: 11%;
      right: 2%; } }
  @media (min-width: 112.5em) {
    .close-cont {
      position: absolute;
      top: 11%;
      right: 2%; } }
  .close-cont:focus {
    outline: .2rem solid #005BD3;
    outline-offset: .2rem; }

.close-bar {
  display: flex;
  align-items: center;
  width: auto;
  height: 3.7rem;
  border-radius: 0.8rem;
  padding: .6rem; }
  @media (max-width: 37.5em) {
    .close-bar {
      padding: 0; } }
  @media (min-width: 112.5em) {
    .close-bar {
      padding: 0; } }

.collapsible {
  font-size: 1.5rem;
  display: flex;
  color: black;
  padding: .8rem;
  flex-direction: column; }

.collapsible-item {
  position: relative; }

.collapsible-content {
  display: none;
  margin-top: 1.6rem; }

.collapsible-trigger {
  display: inline flex;
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  fill: black;
  transition: transform 0.3s;
  border-radius: .6rem;
  transition: all .2s; }
  .collapsible-trigger:hover {
    background: #f1f1f1; }
  .collapsible-trigger:active {
    background: #f0f0f0; }
  .collapsible-trigger:focus {
    border: 0.2rem solid #005BD3;
    outline: none; }

.progress-bar {
  width: 7.2rem;
  height: 0.4rem;
  border-radius: 2.8rem;
  background-color: #e3e3e3;
  margin-left: 1rem;
  display: flex;
  overflow: hidden; }

progress {
  width: 100%;
  height: 100%;
  border-radius: 2.8rem; }

.progress-bar progress {
  transition: all 1s ease-in-out; }

progress::-webkit-progress-bar {
  background-color: #e3e3e3;
  border-radius: 2.8rem; }

progress::-webkit-progress-value {
  background-color: #000;
  border-radius: 2.8rem; }

/* Set initial state for the progress bar */
.progress-bar progress[value="0"] {
  width: 0%; }

/* Apply animation to the progress bar when the value changes */
.progress-bar progress[value="1"] {
  width: 100%;
  transition: all 1s ease-in-out; }

.progress-bar progress[value="2"] {
  width: 100%;
  transition: all 1s ease-in-out; }

.progress-bar progress[value="3"] {
  width: 100%;
  transition: all 1s ease-in-out; }

.progress-bar progress[value="4"] {
  width: 100%;
  transition: all 1s ease-in-out; }

.progress-bar progress[value="5"] {
  width: 100%;
  transition: all 1s ease-in-out; }

@keyframes progressAnimation {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes constantRotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes rotateFrom9To12 {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
    /* Start from 9 o'clock position */ }
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    /* End at upright position (12 o'clock) */ } }

.dotted-circle {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 100ms ease-in; }
  .dotted-circle:focus {
    outline: .2rem solid #005BD3;
    outline-offset: .3rem;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15); }

.dotted-circle:active {
  background-color: transparent; }

.dotted-circle:active .unchecked circle {
  fill: #d9d9d9; }

.dotted-circle:hover .unchecked circle {
  stroke-dasharray: 0 0; }

.check-mark, .spinner {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  display: none; }

.spinner {
  animation: constantRotation 800ms linear infinite; }

.check-mark {
  animation: rotateFrom9To12 300ms linear forwards; }

.dotted-circle.spinning .spinner {
  display: flex; }

.dotted-circle.spinning .check-mark {
  display: none; }

.dotted-circle.spinning .unchecked {
  display: none; }

.dotted-circle.spinning {
  border: none; }

.dotted-circle.checked .spinner {
  display: none; }

.dotted-circle.checked .check-mark {
  display: flex; }
  .dotted-circle.checked .check-mark:focus {
    outline: .2rem solid #005BD3;
    outline-offset: .3rem;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15); }

.dotted-circle.checked .unchecked {
  display: none; }

.dotted-circle.checked {
  border: none; }

.option {
  height: auto;
  display: flex;
  border-radius: .8rem;
  padding: .8rem .8rem 1.2rem .8rem; }
  @media (max-width: 37.5em) {
    .option {
      padding: 2rem 1rem; } }
  @media (min-width: 112.5em) {
    .option {
      padding: 2rem 1rem; } }

@keyframes scale {
  from {
    height: 5rem;
    /* Start from 9 o'clock position */ }
  to {
    height: auto;
    /* End at upright position (12 o'clock) */ } }

.active {
  display: none;
  background-color: #f3f3f3;
  height: auto;
  animation-delay: .3s;
  transition: scale 300ms ease-out; }

.opt {
  cursor: pointer;
  padding: .8rem;
  align-items: center; }

.active.active {
  display: flex; }

.opt.active {
  display: none; }

.arrow-up, .arrow-down {
  width: 2rem;
  height: 2rem; }

.arrow-down {
  display: flex; }

.arrow-up {
  display: none; }

.content-heading-bold {
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1.6rem;
  animation: typingAnimation 500ms ease-in-out;
  white-space: nowrap; }

.content-heading-normal {
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  margin-left: .8rem; }

.content-text {
  width: 100%;
  font-weight: 500;
  font-size: 1.3rem;
  font-family: Inter;
  margin-bottom: 1.6rem;
  line-height: 1.82rem;
  font-style: normal;
  color: #616161;
  animation: moveInBottom 500ms forwards; }
  @media (max-width: 37.5em) {
    .content-text {
      width: 30rem;
      font-size: 1.3rem; } }
  @media (min-width: 112.5em) {
    .content-text {
      width: 30rem;
      font-size: 1.3rem; } }

.content-link {
  text-decoration: none;
  color: #005BD3; }
